/*LoginBar.css*/

/* Mobile first queries */

.loginTitle {
  font-size: 20px;
  padding: 5px;
}

.loginBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInputContainer {
  
}

.formInput {
  border-radius: 7px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 75%;
}

.formButton {
  width: 30%;
  height: 40px;
  margin: 10px 0 20px 0;
  align-self: flex-end;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .loginBar {
    width: 50%;
    height: 50%;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}
