/*EditStorage.css*/

.addStorageButton {
  border: 1px solid black;
  outline: none;
}

/* Larger than mobile */
@media (min-width: 500px) {
  .editStorageContainer {
    margin: 10px 0;
    width: 30%;
  }
}