/*Home.css*/
.home {
  background: linear-gradient(to bottom, #92d1c4 0%, #c9dcbc 100%); /* For browsers that do not support gradients */
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: white;
}