/*Home.css*/

.homeBody {
  height: 400px;
}

.headerbarItem {
  margin: 0 10px;
}

.splashContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.splashHeader {
  margin-bottom: 10px;
}

.logo {
  width: 300px;
  height: auto;
}
