/*EditStorageModal.css*/
/* important tag is used here because Boron overrides css when loading boron/FadeModal */
.modal {
  width: 60% !important;
  height: 60% !important;
  background-color: white;
  border-radius: 3px;
}

.storageModalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  text-align: center;
  border-radius: 3px;
  background-color: white;
}