/*TransactionHistory.css*/
.transactionsContainer {
  background-color: rgba(150, 150, 150, 0.5);
  /*box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);*/
  width: 80%;
  padding: 10px;
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
}
.transactionsHeader {
  
}
